.container {
  display: grid;

  height: 90vh;
  max-height: 90vh;

  background: #5da2d5;

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 11fr 0.5fr;
}

@media all and (min-width: 901px) and (max-width: 1250px) {
  .container {
    grid-template-columns: 1fr 4fr;
  }
}

@media all and (min-width: 561px) and (max-width: 900px) {
  .container {
    height: 94vh;
    max-height: 94vh;

    grid-template-columns: 1fr 2.5fr;
  }
}

@media all and (max-width: 560px) {
  .container {
    height: 95vh;
    max-height: 95vh;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vh 52vh 35vh;
  }
}
