.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-grey);
}

.title {
  font-size: 2rem;
  margin-right: 1rem;
}

.subtitle {
  font-size: 0.75rem;
}

.selection {
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .selection {
    margin-top: 1rem;
  }
}
