.container {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem 1rem;
}

.setInfo {
  margin-right: 25px;

  border-right: 2px var(--color-grey) solid;
}

.title {
  font-size: 1.75rem;

  margin-right: 1rem;

  white-space: nowrap;
}

.subtitle {
  font-size: 0.8rem;
}

.selection,
.option {
  overflow: hidden;

  width: 300px;

  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
}

@media (max-width: 620px) {
  .container {
    display: contents;
  }

  .hidden {
    display: none;
  }

  .setInfo {
    margin: 0;
    margin-bottom: 0.2rem;
    padding: 0;

    text-align: start;

    border-right: none;
  }

  .subtitle {
    font-size: 1.25rem;

    margin-top: 0.25rem;
  }
}
