.container {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem 1rem;
}

.setInfo {
  margin-right: 25px;

  border-right: 2px var(--color-grey) solid;
}

.title {
  font-size: 1.75rem;

  margin-right: 1rem;

  white-space: nowrap;
}

.subtitle {
  font-size: 0.8rem;
}

.selection,
.option {
  overflow: hidden;

  width: 300px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .selection {
    margin-top: 1rem;
  }
}
