.container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  height: 250px;
  padding: 1rem;

  background: var(--color-yellow);
}

.close {
  font-weight: bold;

  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;
  text-transform: uppercase;

  border: none;
  border-radius: 50%;
  background: var(--color-white);
}

.close:focus {
  outline: none;
}

.text {
  font-size: 1.5rem;

  width: 250px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.imageContainer svg {
  height: 100%;
}

.button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;

  color: var(--color-white);
  border: none;
  background: var(--color-green);
  margin-top: 0.25rem;
}

.hidden {
  display: none;
}
