.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background: var(--color-yellow);
  padding: 1rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: var(--color-white);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.imageContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer svg {
  height: 100%;
}

.text {
}

.image {
}

.signupLink {
}

.loginLink {
}

.button {
  background: var(--color-green);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border: none;
  margin-right: 1rem;
}

.signup {
}

.login {
}

.displayed {
}

.hidden {
  display: none;
}
