.container {
  width: 100vw;
  min-height: 0;
  padding: 2% 6%;
  background: #5da2d5;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
  grid-template-rows: 5fr 1fr;
}

.close {
  position: absolute;
  top: 2%;
  right: 1%;
  padding: 0.5%;
  background: transparent;
  border: none;
  font-size: 1.5vw;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.circle {
  align-self: center;
  height: 150%;
  position: absolute;
  right: 0;
  border-radius: 100% 0 0 100%;
  width: 48vw;
  background: rgba(255, 255, 255, 0.35);
  z-index: 0;
}

.text {
  align-self: center;
  text-align: center;
  min-height: 0;
  color: white;
}

.image {
  justify-self: end;
  max-height: 28vw;
  height: 100%;
  display: flex;
  align-self: center;
  min-height: 0;
  z-index: 1;
}

.signupLink {
  justify-self: end;
  align-self: center;
  margin-right: 1.5vw;
  z-index: 1;
}

.loginLink {
  justify-self: start;
  align-self: center;
  margin-left: 1.5vw;
  z-index: 1;
}

.btn {
  height: 5vh;
  width: 8vw;
  font-size: 1.5vw;
  color: inherit;
  border-radius: 6px;
  outline: none;
  border: none;
  min-height: 0;
  transition: all 0.25s ease-in;
}

.signup {
  background: #f3d250;
  color: black;
}

.login {
  background: #5da2d5;
  border: #ececec 2px solid;
  color: #ececec;
}

@media all and (max-width: 850px) {
  .container {
    grid-template-rows: 1fr 3fr 1fr;
  }
  .circle {
    bottom: 0;
    right: auto;
    border-radius: 100% 100% 0 0;
    width: 150vw;
    height: 80%;
    justify-self: center;
  }
  .text {
    grid-area: 1 / 1 / 2 / 3;
  }
  .image {
    max-width: 100vw;
    max-height: none;
    justify-self: center;
    grid-area: 2 / 1 / 3 / 3;
  }
  .btn {
    width: 20vw;
    font-size: 3vw;
  }
}

@media all and (max-width: 450px) {
  .btn {
    width: 40vw;
    font-size: 5vw;
  }
}
