.container {
  width: 100%;
}

.tools {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;

  border-bottom: 1px solid var(--color-grey);
}

.flashcardButtons {
  display: flex;
  align-items: center;

  overflow: hidden;

  margin-left: 1rem;

  border: 1px var(--color-grey) solid;
  border-radius: 4px;
}

.tool {
  font-size: 1rem;

  display: flex;
  align-items: center;

  padding: 0.5rem;

  white-space: nowrap;

  border: none;
  background: var(--color-white);
}

.expand svg {
  margin-left: 0.5rem;
}

.tool:not(:last-child) {
  border-right: 1px var(--color-grey) solid;
}

.tool:hover {
  cursor: pointer;

  background: var(--color-grey);
}

.tool:focus {
  outline: none;
}

@keyframes flash {
  0% {
    color: black;
    background: var(--color-white);
  }

  50% {
    color: var(--color-white);
    background: var(--color-purple);
  }

  100% {
    color: black;
    background: var(--color-white);
  }
}

.flash {
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.tool svg {
  width: 12px;
  height: 12px;
}

.display {
  margin-top: 2rem;
}

.displayButtons {
  padding: 1rem;

  text-align: center;
}

.button {
  font-size: 4rem;

  padding: 0.5rem 2rem;

  cursor: pointer;

  color: var(--color-white);
  border: var(--color-white);
  border-radius: 4px;
  background: var(--color-yellow);
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.025) translateY(-1px);
}

.button:active {
  transform: scale(1) translateY(0px);
}

.button:not(:last-child) {
  margin-right: 1rem;
}

.infoButton {
  display: none;
}

@media all and (max-width: 1100px) {
  .tools {
    align-items: start;
    flex-flow: column;
    justify-content: space-around;

    height: 130px;
  }
}

@media all and (max-width: 620px) {
  .tools {
    position: relative;

    align-items: end;
    flex-flow: column-reverse;
    justify-content: space-between;

    height: 160px;
    padding: 0.5rem 1.5rem 2.5rem 1.5rem;

    transition: height 0.1s ease-in-out;
  }

  .tools.showInfo {
    height: 275px;
  }

  .flashcardButtons {
    display: grid;
    align-self: center;

    margin: 0;

    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px;
  }

  .infoButton {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

    width: 100%;
    height: 2rem;

    transition: background 0.1s ease-in;

    color: white;
    border: 0;
    border-radius: 2px;
    background: var(--color-green);
  }

  .infoButton:hover {
    cursor: pointer;

    background: var(--color-purple);
  }

  .infoButton:focus {
    outline: none;
  }

  .tool {
    width: 100%;
    height: 100%;

    border: 1px var(--color-grey) solid;
  }

  .onlyButton {
    grid-area: 1 / 1 / 3 / 3;
  }

  .display {
    display: flex;
    flex-direction: column-reverse;

    margin-top: 0;
  }
}
