











.display {
  margin-top: 2rem;
}

.displayButtons {
  padding: 1rem;

  text-align: center;
}

.button {
  font-size: 4rem;

  padding: 0.5rem 2rem;

  cursor: pointer;

  color: var(--color-white);
  border: var(--color-white);
  border-radius: 4px;
  background: var(--color-yellow);
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.025) translateY(-1px);
}

.button:active {
  transform: scale(1) translateY(0px);
}

.button:not(:last-child) {
  margin-right: 1rem;
}
