.container {
  width: 100%;
}

.display {
  margin-top: 2rem;
}

.displayButtons {
  padding: 1rem;

  text-align: center;
}

.tools {
  display: flex;
  border-bottom: 1px solid var(--color-grey);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: relative;
}

.flashcardButtons {
  display: flex;
  align-items: center;

  border-radius: 4px;
  overflow: hidden;
  margin-left: 1rem;
  border: 1px var(--color-grey) solid;
}

.tool {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  font-size: 1rem;

  white-space: nowrap;
  background: var(--color-white);
  border: none;
}

.expand svg {
  margin-left: 0.5rem;
}

.tool:not(:last-child) {
  border-right: 1px var(--color-grey) solid;
}

.tool:hover {
  background: var(--color-grey);
  cursor: pointer;
}

@keyframes flash {
  0% {
    background: var(--color-white);
    color: black;
  }
  50% {
    background: var(--color-purple);
    color: var(--color-white);
  }
  100% {
    background: var(--color-white);
    color: black;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.tool svg {
  width: 12px;
  height: 12px;
}

.button {
  font-size: 4rem;

  padding: 0.5rem 2rem;

  cursor: pointer;

  color: var(--color-white);
  border: var(--color-white);
  border-radius: 4px;
  background: var(--color-yellow);
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.025) translateY(-1px);
}

.button:active {
  transform: scale(1) translateY(0px);
}

.button:not(:last-child) {
  margin-right: 1rem;
}
