.container {
  width: 100%;
  height: 100%;
  padding: 1rem;

  border: 1px solid var(--color-purple);
  border-radius: 5px;
}





.title {
  margin-bottom: 1rem;
}

.more {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  border: 1px solid var(--color-grey);
  border-radius: 4px;
  background: var(--color-white);
}

.size {
  margin-top: 1rem;
}
