@import '../styles/UserListItem.module.css';

.container {
  position: relative;
  z-index: 1;

  float: left;
  overflow: hidden;

  min-width: 30vw;
  max-width: 30vw;
  height: 20vh;
  margin: 2.5vh 1.4vw;
  padding: 1% 2%;

  transition: all 0.1s linear;

  border-radius: 8px;
  background: white;
  box-shadow: 2px 5px 12px rgb(1, 1, 1, 0.2), 2px 5px 2px rgb(1, 1, 1, 0.1);

  scroll-margin-top: 2.5vh;
  scroll-padding: 8vh;
  scroll-snap-align: start;
  will-change: transform;
}

.container:hover > .title {
  text-decoration: underline;
}

.title {
  overflow: hidden;

  margin-bottom: 1vh;

  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
}
.cards {
  overflow-y: scroll;

  transition: height 0.2s ease-out;
}

.card {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;

  max-width: 80%;
  padding: 0.5%;

  -webkit-line-clamp: 1;
}

.card:focus {
  outline: none;
}

.card:hover > h5 {
  text-decoration: underline;
}

.ellipsis {
  align-self: center;

  margin-top: 1%;
  margin-left: -1%;
  padding: 1% 1% 2% 1%;
}
.ellipsis:hover {
  color: white;
  border-radius: 4px;
  background: linear-gradient(90deg, #c0c0c0, white 65%);
}
.ellipsis:focus {
  outline: none;
}

.size {
  font-weight: lighter;

  position: absolute;
  right: 4%;
  bottom: 18%;

  color: darkgray;
}

.author {
  font-weight: lighter;

  position: absolute;
  right: 4%;
  bottom: 6%;

  color: darkgray;
}

.user {
  text-decoration: none;

  color: black;
}

.user:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media all and (min-width: 1200px) {
  .container {
    min-width: 22%;
    max-width: 22%;
    margin: 1.5vh 1.5%;
  }
}

@media all and (max-width: 900px) {
  .container {
    min-width: 44%;
    max-width: 44%;
    margin: 1.5vh 2.5vw;
  }
}
@media all and (max-width: 560px) {
  .container {
    min-width: 95%;
    max-width: 95%;
    margin: 1.5vh 2.5vw;
  }
}
