.card {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0.4rem;
}

.card:hover {
  transform: translateY(-2px) translateX(2px);
  color: var(--color-purple);
}
