@-webkit-keyframes scanBackAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes scanBackAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.container {
  padding: 3%;
  overflow: hidden;
}

.scanner {
  background: white;
  height: 90%;
  color: rgba(1, 1, 1, 0.2);
  border-radius: 15px;
  max-width: 1px;
  margin-left: 0;
  box-shadow: rgba(1, 1, 1, 0.3) 0px 0px 70px 17px,
    rgba(1, 1, 1, 0.1) 0px 0px 50px 10px;
  transform: translateZ(45px);
  position: absolute;
  animation: scanBackAndForth 3s infinite;
  -webkit-animation: scanBackAndForth 3s infinite;
  -moz-animation: scanBackAndForth 3s infinite;
}
