@-webkit-keyframes scanBackAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes scanBackAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.container {
  overflow: hidden;

  padding: 3%;
}

.scanner {
  position: absolute;

  max-width: 1px;
  height: 90%;
  margin-left: 0;

  transform: translateZ(45px);
  -webkit-animation: scanBackAndForth 3s infinite;
     -moz-animation: scanBackAndForth 3s infinite;
          animation: scanBackAndForth 3s infinite;

  color: rgba(1, 1, 1, 0.2);
  border-radius: 15px;
  background: white;
  box-shadow: rgba(1, 1, 1, 0.3) 0 0 70px 17px,
  rgba(1, 1, 1, 0.1) 0 0 50px 10px;
}
