.container {
  width: 20vw;
  height: fit-content;
}
.form {
  display: grid;

  max-height: 100%;
}
.message {
  font-size: 1.2vw;

  align-self: center;

  text-align: center;

  border-radius: 3px;
}
.button {
  font-size: 1.5vw;

  width: 100%;
  height: 80%;
  margin: 3% 0;
  padding: 0.6vw 1vw;

  cursor: pointer;

  color: #5da2d5;
  border: 2px #646c80 solid;
  border-radius: 5px;
  background: white;
}

@media all and (max-width: 900px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .form {
    width: 100%;
    height: 100%;
  }
  .button {
    font-size: 2vw;
  }
}

@media all and (max-width: 560px) {
  .container {
    width: 100%;
  }
  .title {
    height: 2vh;
  }
  .form {
    width: 100%;
    height: 100%;

    grid-template-rows: 4fr 1fr;
  }
  .message {
    font-size: 4vw;

    align-self: center;
  }
  .button {
    font-size: 5vw;

    height: 80%;
    margin-top: 10%;
  }
}
