.container {
  display: grid;

  margin: 5% 1.5%;

  color: white;
  border: 5px darkgray solid;
  border-radius: 5px;
  background: #8590aa;

  grid-template-rows: 0.25fr 0.2fr 2fr;
}

.header {
  display: grid;

  width: 100%;
  height: 100%;
  padding: 2%;

  color: white;
  background: #646c80;

  grid-template-columns: 8fr 1fr 1fr;
}

.header:focus {
  outline: none;
}

.header:hover {
  cursor: pointer;

  color: #646c80;
  border-radius: 2px;
  background: white;
}

.current {
  cursor: default;

  color: #646c80;
  background: white;
}

.title {
  font-size: 3vh;
  font-weight: bolder;

  width: 100%;
  height: 100%;

  text-overflow: ellipsis;
  pointer-events: none;

  color: inherit;
  border: none;
  outline: none;
  background: inherit;

  caret-color: #646c80;
}

.title::selection {
  color: white;
  background: #646c80;
}

.title.editing {
  pointer-events: all;

  background: white;
}

.button {
  float: right;

  width: 100%;
  height: 100%;

  border-radius: 3px;
  outline: none;
  background: white;
}

.editing {
  color: #646c80;
  border: #8590aa inherit;
  background: #f3d250;
}

.info {
  display: grid;

  width: 96%;
  height: 100%;
  margin: 0 2%;

  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.9fr 0.1fr;
}

.size {
  font-size: 2vh;
  font-weight: bolder;

  min-height: 2vh;
  margin: 1vh 0;

  cursor: default;
}

.author {
  font-size: 2vh;
  font-weight: bolder;

  min-height: 2vh;
  margin: 1vh 0.2vh;

  cursor: default;
  text-align: right;
}

.link {
  text-decoration: none;

  color: white;
}

.link:hover {
  cursor: point;
  text-decoration: underline;
}

.line {
  height: 5%;

  grid-area: 2 / 1 / 2 / 3;
}

.cards {
  position: relative;

  overflow: hidden;

  margin: 1% 2%;
}

.cards:hover {
  overflow-y: scroll;
}

.display {
  max-height: 20vh;
  padding: 2% 0;
}

@media all and (min-width: 901px) and (max-width: 1250px) {
  .header {
    grid-template-columns: 7fr 1fr 1fr;
  }

  .title {
    font-size: 1.75vw;
  }

  .info > * {
    font-size: 1.5vw;
  }
}

@media all and (min-width: 561px) and (max-width: 900px) {
  .title {
    font-size: 3vw;
  }

  .size,
  .set__creator {
    font-size: 2vw;

    min-height: 0;
    margin: auto 0;
    padding: 5% 0;
  }
}

@media all and (max-width: 560px) {
  .container {
    max-height: 90%;
  }

  .cards {
    overflow-y: scroll;
  }
}
