.container {
  margin-bottom: 1.25rem;
  padding: 0.35rem 0.5rem 0.5rem 0.5rem;

  border: 4px white solid;
  border-radius: 4px;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s linear;
}

.container:hover {
  border: 4px var(--color-grey) solid;
  cursor: pointer;
}

.header {
  white-space: nowrap;
}

.header:hover {
  cursor: pointer;
}

.header:focus {
  outline: none;
}

.title {
  font-size: 1.25rem;

  width: 100%;
  margin-bottom: 0.5rem;

  color: inherit;
  border: none;
  background: none;
  transition: all 0.15s linear, color 0.05s linear, margin 0s;
}

.title input:focus {
  outline: none;
}

.current,
.current:hover {
  border-left: 5px var(--color-green) solid;
}

.edit {
  margin-right: 5%;
}

.button {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;

  cursor: pointer;

  border: 1px solid var(--color-grey);
  background: none;
  background: var(--color-grey);
  display: inline-flex;
  align-items: center;
  min-width: 47.5%;
  justify-content: center;
  border-radius: 5px;
}

.button:hover {
  color: var(--color-grey);
  background: var(--color-white);
}

.button svg {
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
}

.title.editing {
  padding: 0.25rem 0.5rem;

  border: 1px solid var(--color-green);
  border-radius: 4px;
  background: var(--color-grey);
}

.info {
  margin-bottom: 0.5rem;
}

.size {
  display: inline-block;
}

.author {
  display: inline-block;
}
