.container {
  margin-bottom: 1rem;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
  padding: 1rem 0.5rem;
  border-radius: 4px;
}

.header {
}

.header:focus {
}

.header:hover {
}

.current {
}

.title {
  background: none;
  border: none;
  color: inherit;
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.title input:focus {
  outline: none;
}

.button {
  background: none;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-grey);
  background: var(--color-grey);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.button:hover {
  color: var(--color-grey);
  background: var(--color-white);
}

.title.editing {
  background: var(--color-grey);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-green);
}

.info {
  margin-bottom: 0.5rem;
}

.size {
  display: inline-block;
}

.author {
  display: inline-block;
}

.link {
}

.link:hover {
}

.line {
}

.cards {
}

.cards:hover {
}

.display {
}
