.container {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-direction: column;

  min-width: 400px;
  max-width: 400px;
  height: calc(100vh - var(--navbar-height));

  transition: left 0.35s linear;

  background: var(--color-white);
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.25);
}

.open {
  left: 0;
}

.closed {
  left: -400px;
}

@media all and (max-width: 620px) {
  .container {
    width: 400px;
    max-width: 100%;
    min-width: auto;
  }
  .container.closed {
    box-shadow: none;
  }
}
