.container {
  height: 100%;
  width: 100%;
  padding: 1vh;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: -5px 5px 50px rgba(0, 0, 0, 0.151);
  z-index: 2;
  background: #ececec;
}

.create {
  background: white;
  border: 3px #646c80 solid;
  outline: none;
  border-radius: 10px;
  height: 100%;
  width: 94%;
  margin-right: 4%;
  cursor: pointer;
  font-size: 0.6vw;
  font-weight: bolder;
}

@media all and (max-width: 560px) {
  .container {
    width: 101%;
  }
  .create {
    width: 90%;
    border-radius: 6px;
    border: 2px #646c80 solid;
    font-size: 2vw;
  }
}
