.container {
  position: relative;
  z-index: 1;

  display: contents;

  height: 100%;

  box-shadow: 5px 0 200px rgba(0, 0, 0, 0.2);

  grid-area: 1 / 1 /4 /2;
  grid-template-rows: 1fr 20fr 1fr;
}

.bottom {
  z-index: 3;

  width: 100%;
  height: 100%;

  background: #ececec;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.14);

  grid-area: 3 / 1 / 4 / 2;
}

@media all and (max-width: 560px) {
  .bottom {
    display: none;
  }
}
