.container {
  z-index: 1;
  box-shadow: 5px 0px 200px rgba(0, 0, 0, 0.2);
  grid-area: 1 / 1 /4 /2;
  display: contents;
  grid-template-rows: 1fr 20fr 1fr;
  height: 100%;
  position: relative;
}

.bottom {
  z-index: 3;
  background: #ececec;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.14);
  height: 100%;
  width: 100%;
  grid-area: 3 / 1 / 4 / 2;
}

@media all and (max-width: 560px) {
  .bottom {
    display: none;
  }
}
