* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header {
  height: 8vh;
  display: flex;
  background: rgb(68, 119, 230);
}

textarea {
  resize: none;
  outline: none;
}

.main-title {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashcards-display {
  padding: 0 2vw;
  height: 92vh;
  min-width: 100vw;
  width: 80%;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 1fr 10fr;
  justify-content: center;
  align-items: center;
}

.flashcard-tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 30%;
}

.new-flashcard-button,
.edit-flashcard-button,
.delete-flashcard-button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 80%;

  margin: 10% 0;
}

.flashcard-selection {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.change-card-button {
  font-size: 4rem;
  background: rgba(130, 156, 211, 0.2);
  border: none;
  padding: 10% 3%;
  height: 50%;
  width: 100%;
  border-radius: 5px;
  margin: 2%;
  align-self: center;
}

.flashcard-container {
  display: flex;
  justify-content: center;
  margin: auto;

  width: 80vw;
  padding-top: 50%;
  height: 0;

  position: relative;

  border-radius: 10px;
  background: rgba(164, 190, 245, 0.836);
}
.flashcard {
  transform-style: preserve-3d;
  position: absolute;
  top: 10%;

  background: white;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 75%;
  max-height: 60vh;
  z-index: 1;
}

.flex-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number {
  position: absolute;
  top: 2%;
  left: 4%;
  font-size: 2vw;
  color: rgba(9, 20, 58, 0.65);
  transform: translateZ(25px);
}

.flashcard-text {
  background: white;
  width: 100%;
  height: 80%;
  margin-top: 10%;
  border: none;
  font-size: 3vw;
  text-align: center;
  transform: translateZ(45px);
}
