*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Tahoma, 'Geneva', sans-serif;
  background: linear-gradient(0deg, #d6d6d6 0%, white 75%);
}

button {
  background: #ececec;
  font-family: Tahoma, 'Geneva', sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.noselect::selection {
  background: transparent;
}

.noselect::-moz-selection {
  background: transparent;
}

textarea {
  resize: none;
  outline: none;
}

input {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border: 1px solid lightgray;
}

li {
  list-style-type: none;
}

.search-button {
  height: 100%;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.to-left {
  background-image: linear-gradient(to left, red 50%, black 0);
  background-position: left;
}

.to-left:hover {
  background-position: right;
}

@media all and (max-width: 560px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .button-container > button {
    font-size: 2vw;
  }
}
