/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Tahoma, 'Geneva', sans-serif;
  background: linear-gradient(0deg, #d6d6d6 0%, white 75%);
}

button {
  background: #ececec;
  font-family: Tahoma, 'Geneva', sans-serif;
}

textarea {
  resize: none;
  outline: none;
}

input {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border: 1px solid lightgray;
}

li {
  list-style-type: none;
}
header {
  z-index: 2;
  display: flex;
  background: #6bbdf3;
  height: 10vh;
  justify-content: space-between;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.noselect::selection {
  background: transparent;
}

.noselect::-moz-selection {
  background: transparent;
}

@media all and (max-width: 560px) {
  header {
    height: 5vh;
    min-width: 100vw;
  }
}

@media all and (max-width: 900px) {
  header {
    height: 6vh;
  }
}
