/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, 'Geneva', sans-serif;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(0deg, #d6d6d6 0%, white 75%);
}

button {
  font-family: Tahoma, 'Geneva', sans-serif;

  background: #ececec;
}

textarea {
  resize: none;

  outline: none;
}

input {
  width: 80%;
  height: 70%;
  margin: 0 auto;

  border: 1px solid lightgray;
}

li {
  list-style-type: none;
}

header {
  z-index: 2;

  display: flex;
  justify-content: space-between;

  height: 10vh;

  background: #6bbdf3;
}

.noselect {
  -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

   -khtml-user-select: none; /* Konqueror HTML */
  -webkit-touch-callout: none; /* iOS Safari */
}

.noselect::selection {
  background: transparent;
}

.noselect::-moz-selection {
  background: transparent;
}

@media all and (max-width: 560px) {
  header {
    min-width: 100vw;
    height: 5vh;
  }
}

@media all and (max-width: 900px) {
  header {
    height: 6vh;
  }
}
