.container {
  height: var(--navbar-height);
  background: var(--color-purple);
  color: var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.titleContainer {
}

.title {
  background: none;
  padding: 0;
  border: none;
  color: var(--color-white);
  font-size: 2rem;
}

.title:focus {
  outline: none;
}

.login,
.logout {
  position: relative;
}

.login.invisible {
}

.toggled {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background: var(--color-white);
  display: block;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  min-width: 250px;
  padding: 1rem;
  z-index: 1;
}

.untoggled {
  display: none;
}

.login.visible {
}

.logout {
  display: flex;
  align-items: center;
}

.greeting {
  margin-right: 1rem;
}

.link {
}

.logoutBtn,
.loginBtn {
  background: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.cancel {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-grey);
}
