.hover-section:hover {
  background: rgba(0, 0, 0, 0.64);
}
.homepage-container {
  height: 90vh;
}
.collection-container {
  height: 82vh;
}

.show-more-options:hover,
.home-flashcard-option:hover > h5 {
  text-decoration: underline;
}
.user-list-item.home-set {
  min-width: 30vw;
  max-width: 30vw;
  margin: 2.5vh 1.4vw;
}

.user-list-item.home-set:hover > h2 {
  text-decoration: underline;
}

.user-link {
  color: white;
  text-decoration: none;
}
.user-link:hover {
  cursor: point;
  text-decoration: underline;
}
.user-link-from-set {
  text-decoration: none;
  color: black;
}

.user-link-from-set:hover {
  cursor: pointer;
  text-decoration: underline;
}

.disable-hover {
  pointer-events: none;
}

@media all and (min-width: 1200px) {
  .user-list-item.home-set {
    min-width: 22%;
    max-width: 22%;
    margin: 1.5vh 1.5%;
  }
}

@media all and (max-width: 900px) {
  .homepage-container {
    height: 94vh;
  }
  .user-list-item.home-set {
    min-width: 44%;
    max-width: 44%;
    margin: 1.5vh 2.5vw;
  }
  .hover_section {
    visibility: invisible;
  }
  .collection-container {
    height: 86vh;
  }
}

@media all and (max-width: 560px) {
  .homepage-container {
    height: 95vh;
  }
  .user-list-item.home-set {
    min-width: 95%;
    max-width: 95%;
    margin: 1.5vh 2.5vw;
  }
  .collection-container {
    height: 87vh;
  }
}
