.input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid var(--color-grey);
  border-radius: 3px;
}

.input + .button,
.button + .button,
.input + .input {
  margin-top: 1rem;
}

.button {
  background: var(--color-green);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border: none;
}

.error,
.warning,
.success {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.error {
  color: var(--color-red);
}

.warning {
  color: var(--color-yellow);
}

.success {
  color: var(--color-green);
}
